
var {
    font-style: normal !important;
}

span.attribute {
    font-weight: bold;
    background: #78a1bb;
    border-radius: 3px;
    padding: 4px;
    color: white;
}

.rst-content dl dt {
    background: #78a1bb;
    color: #fff;
    border-radius: 4px;
    padding: 0px 5px 3px 5px;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: normal;
}

.rst-content dl.subresource > dt:first-child {
    border-left: 4px solid #393d3f;
    border-right: 2px;
    border-radius: 0px 4px 4px 0px;
}

.wy-nav-side {
    background-color: #393d3f;
}

.wy-side-nav-search,
.wy-nav-top {
    background-color: #26A69A
}

.wy-side-nav-search > a img.logo {
    width: 200px;
}

.wy-side-nav-search input[type="text"] {
    border-color: #999;
}

.wy-menu-vertical a,
.wy-menu-vertical li span.toctree-expand {
    color: #c2d3cd;
    font-size: 90%;
}

.wy-menu-vertical p.caption {
    color: #78a1bb;
    font-size: 90%;
}

.rst-content .highlighted {
    background: #26A69A;
    color: #fff;
}

h1, h2 {
    color: #78a1bb;
}

.query-resource-link {
    float: right;
    margin-top: 10px;
}
